#app
  .container-responsive
    .row.bg-primary
      .col-md-12
        h4 Excel Okuma Vue
    .row
      .col-md-12
        h5 Veri Olan Excel Dosyası
       
    .row
      .col-md-12
        #drop(@drop="handleDrop",@dragover="handleDragover",@dragenter="handleDragover") Buraya Bırak
    .row
      .col-md-12
        table.table.table-striped.table-hover.table-condensed.table-responsive
          thead
            tr
              th(v-for="item in headers") {{item}}
          tbody
            tr(v-for="item in tickets")
              td(v-for="key in item")
                label {{key}}
                p {{item.key}}
          tfoot